@import "tailwindcss";

/* Tailwind already imported */

.navbar-shadow {
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); */
    border-bottom: 1px solid #d1d5dc !important;
}

.aboutme-bg {
  background-image: url("/gcm_pic2.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}
/* .aboutme-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
} */


.background1 {
  width: 100%;
  height: 100%;
  background-image: url("/image7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background2 {
  width: 100%;
  height: 100vh;
  background-image: url("/image5.jpg");
  /* background-color: #f2f2f2; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity */
  z-index: 0; /* Ensures it stays behind content */
}

.background3 {
  width: 100%;
  height: 100vh;
  background-image: url("/image5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background4 {
  width: 100%;
  height: 100vh;
  background-image: url("/image4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gradient-shadow {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(202, 213, 226), 0 0 20px rgba(49, 65, 88);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 2.0s ease-in-out forwards;
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInRight 1.0s ease-in-out forwards;
}